@{
    ViewData["Title"] = "Menu Principal";
}

<div class="container" style="padding:7px">
    <div class="row" style="text-align:center">
        <div class="col-md4">
            <div>
                <a href="~/Cliente/Index">
                    <img src="~/Img/clientes.png" width="150" height="150" />
                </a>
            </div>
            <span>Cadastro de Clientes</span>
        </div>
        <div class="col-md4">
            <div>
                <a href="~/Categoria/Index">
                    <img src="~/Img/categorias.png" width="150" height="150" />
                </a>
            </div>
            <span>Cadastro de Categorias</span>
        </div>
        <div class="col-md4">
            <div>
                <a href="~/Produto/Index">
                    <img src="~/Img/produtos.png" width="150" height="150" />
                </a>
            </div>
            <span>Cadastro de Produtos</span>
        </div>
    </div>
    <br /><br />
    <div class="row" style="text-align:center">
        <div class="col-md4">
            <div>
                <a href="~/Venda/Index">
                    <img src="~/Img/vendas.png" width="150" height="150" />
                </a>
            </div>
            <span>Registro de Vendas</span>
        </div>
        <div class="col-md4">
            <div>
                <a href="~/Relatorio/Grafico">
                    <img src="~/Img/relatorios.png" width="150" height="150" />
                </a>
            </div>
            <span>Relatórios</span>
        </div>
        <div class="col-md4">
            <div>
                <a href="~/Configuracao/Index">
                    <img src="~/Img/configuracoes.png" width="150" height="150  " />
                </a>
            </div>
            <span>Configurações</span>
        </div>
    </div>
    <div>
        <div class="file-upload-wrapper">
            <input type="file" id="fileUpload" class="file-upload" />
        </div>
        <button class="btn btn-primary" id="btnEnviaUpload" onclick="EnviaArquivoUpload()">Enviar</button>
    </div>
</div>

<script>
    function EnviaArquivoUpload() {
        var arquivo = document.getElementById("fileUpload");
        $.ajax({
            url: '@Url.Content("/Home/UploadArquivo")',
            type: 'post',
            data: {
                arquivo: arquivo.files[0].name,
            },
            beforeSend: function () {
            }
        })
            .done(function (msg) {

            })
            .fail(function (jqXHR, textStatus, msg) {
                alert(msg);
            });

    }


</script>
