@{

}

<h1>Upload de arquivos</h1>
<div>


    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>Arquivos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>aa</td>
            </tr>
        </tbody>
    </table>
</div>