@{
    ViewData["Title"] = "Gráfico";
}

<h1>Total de vendas por produto</h1>
<hr />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>

<div class="container" style="display:flex">
    <div class="border">
        <canvas id="myChart"></canvas>
    </div>
    <div class="border">
        <canvas id="myChart1"></canvas>
    </div>
</div>

<script>
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: [@Html.Raw(ViewBag.Labels)],
            datasets: [{
                label: '# of Votes',
                data: [@Html.Raw(ViewBag.Valores)],
                backgroundColor: [@Html.Raw(ViewBag.Cores)],
                borderColor: [
                    'grey',
                ],
                borderWidth: 1
            }]
        }
    });

    var ctx = document.getElementById('myChart1');
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: [@Html.Raw(ViewBag.Labels)],
            datasets: [{
                label: '# of Votes',
                data: [@Html.Raw(ViewBag.Valores)],
                backgroundColor: [@Html.Raw(ViewBag.Cores)],
                borderColor: [
                    'grey',
                ],
                borderWidth: 1
            }]
        }
    });
</script>